<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="CheckForUpdatesIntervalHours" value="4"/>
    <!-- See README.md how to obtain valid telemetry key -->
    <add key="TelemetryKey" value="00000000-0000-0000-0000-000000000000"/>
    <add key="UpdatesSearchQuery" value="IsInstalled=0 AND IsPresent=0 AND CategoryIDs contains 'E6CF1350-C01B-414D-A61F-263D14D133B4' OR CategoryIDs contains 'E0789628-CE08-4437-BE74-2495B842F43B' OR CategoryIDs contains '0FA1201D-4330-4FA8-8AE9-B877473B6441'"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
